<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>ITSQLX1</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ITSQLX1:80/Default.aspx</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://ITSQLX1:8172/msdeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>Default Web Site</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>PATHWAYSSWPA\jeddy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ConnStringDb1" Order="1" Enabled="False">
          <Destination Path="Data Source=ITSQLX1\ITDBVRTX1;Initial Catalog=ConsumerMaster;Persist Security Info=True;User ID=ConsumerMaster;Password=Consumer.2019" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ITLT21T;Initial Catalog=ConsumerMaster;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnStringDb1_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ITLT21T;Initial Catalog=ConsumerMaster;Integrated Security=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnStringAttendance" Order="2" Enabled="False">
          <Destination Path="Data Source=ITLOGIC1\UCPDB;Initial Catalog=ATFIS;User ID=ATFISDbUser;Password=ATFIS.2020" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ITLOGIC1\UCPDB;Initial Catalog=ATFIS;User ID=ATFISDbUser;Password=ATFIS.2020" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnStringAttendance_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ITLOGIC1\UCPDB;Initial Catalog=ATFIS;User ID=ATFISDbUser;Password=ATFIS.2020" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnStringDb2" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ITLT21T;Initial Catalog=StaffDatabase;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnStringDb2_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ITLT21T;Initial Catalog=StaffDatabase;Integrated Security=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="ConnStringDb3" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=ITLT21T;Initial Catalog=NetsmartReports;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ConnStringDb3_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=ITLT21T;Initial Catalog=NetsmartReports;Integrated Security=true;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ConnStringDb2-Web.config Connection String" />
    <MSDeployParameterValue Include="ConnStringAttendance-Web.config Connection String">
      <ParameterValue>Data Source=ITLOGIC1\UCPDB;Initial Catalog=ATFIS;User ID=ATFISDbUser;Password=ATFIS.2020</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="ConnStringDb1-Web.config Connection String">
      <ParameterValue>Data Source=ITSQLX1\ITDBVRTX1;Initial Catalog=ConsumerMaster;Persist Security Info=True;User ID=ConsumerMaster;Password=Consumer.2019</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>