.formRow {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    border-right: solid 1px #cbcbcb;
    height: 270px;
    padding-left: 16px;
}

.demo-container fieldset {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    vertical-align: top;
    margin-top: 20px;
}

.selectSeparator {
    height: 7px;
    line-height: 7px;
}
.rddlPopup .rddlItem
{
    font-size: 20px !important;
}
